<div class="container">
    <h2>Covid Stats</h2>
    <mat-form-field>
        <mat-select placeholder="Country" name="country" [(ngModel)]="country" required>
            <mat-option *ngFor="let country of countries" [value]="country.name">
                {{country.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="drawGraph()" class="btn">View Status</button>
</div>

<div class="chart">
    <canvas #myCanvas id="canvas">{{ chart }}</canvas>
</div>